@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.validation_error{
  color: #FF0000;
  padding: 10px;
}

/* body */
.guest_body {
  background: #ECF1F6;
}
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
img {
  width: 20px;
  height: 20px;
}
/* ログイン */
.login_wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.login_logo {
  text-align: center;
}

.login_logo img {
  width: 150px;
  height: 50px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.text-center{
  margin-bottom: 20px;
}

/* 新規登録 */
.register_wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  width: 30%;
  padding: 10px 40px;
}

.register_sex {
  display: flex;
  justify-content: space-around;
}

.register_birthday {
  text-align: center;
}

.register_select {
  border: none;
  border-bottom: 1px solid #4a90e2;
  background: transparent;
  padding: 4px 24px 4px 0;
  font-size: 16px;
  margin: 0 8px 16px 0;
  cursor: pointer;
  outline: none;
  position: relative;
}

.register_role {
  display: flex;
  justify-content: space-around;
}

/* サイドバー */
.sidebar {
  position: fixed;
  width: 170px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.sidebar_items {
  margin-top: 10px;
  margin-left: 5px;
}

.main-container {
  width: 100%;
  margin-left: 170px;
}

.sidebar p a {
  color: #FFF;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #007bff !important;
  font-size: 12px;
  margin: 0;
  display: block;
}

.day_part2 {
  color: #494949;
  font-size: 12px;
  margin-left: 20px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

.calendar_btn {
  margin-top: 15px;
}

.admin_calendar {
  width: 90%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.modal_text{
  margin-left: 25%;
}

/* 掲示板 */
.post {
    border-radius: 7px;
    padding: 3px;
    background: #03AAD2;
    font-size: 15px;
    color: #FFF;
    padding: 5px 0;
    margin: 10px 0;
}

.post a {
  display: flex;
  justify-content: center;
  color: #fff;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.fa-heart.un_like_btn {
  color: #E2254D !important;
}

.fa-heart.like_btn {
  color: #a9a9a9 !important;
}

.error_message {
  font-size: 12px;
  color: red;
}

.search-box {
  display: flex;
  width: 250px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ECF1F6;
  margin:15px 0;
}

.post_search {
  border: none;
  padding: 10px;
  flex: 1;
  font-size: 14px;
  border-radius: 20px 0 0 20px;
  outline: none;
  background-color: transparent;
}
.post_search:focus {
  background-color: #ECF1F6;
  outline: none;
}
.post_search:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #ECF1F6 inset;
  -webkit-text-fill-color: #000;
}

.post_search_btn {
  background-color: #03AAD2;
  color: #fff;
  border: none;
  padding: 0px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}
.category_box2{
  border-radius: 5px;
  padding: 3px;
  background: #03AAD2;
  font-size: 10px;
  color: #FFF;
}

.category_btn1 {
  font-size: 15px;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  background: #ff99a8;
  color: #FFF;
  cursor: pointer;
}

.category_btn2 {
  font-size: 15px;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  background: #e6b85c;
  color: #FFF;
  cursor: pointer;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

.other_area {
  margin-top: 25px;
  margin-right: 100px;
}

.category{
  margin-top: 20px;
}

.main_categories{
  font-size: 18px;
  border-bottom: solid 1px #c0c0c0;
  width: 100%;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
}

[class^="category_num"]{
  font-size: 15px;
  display: none;
  border-bottom: solid 1px #c0c0c0;
  width: 80%;
  margin-top: 15px;
  margin-left: 10px;
}

.sub_categories{
  color: #494949;
  text-decoration: none;
  display: block;
}
.sub_categories:hover{
  text-decoration: none;
  color: #494949;
}

.arrow {
  margin-left: 30px;
}

.arrow:after{
  content: "";
  position: absolute;
  right: 15px;
  top: 20%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #494949;
  border-right: solid 2px #494949;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.arrow.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

/* ユーザー検索 */
.search_area {
  margin: 20px;
}

.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 10px auto;
  overflow-y: auto;
  padding: 10px;
  background: #ECF1F6;
}

.users_card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  margin: 5px;
  padding: 10px 15px;
}

.users_card_text {
  padding: 4px 0;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 210px;
  height: 250px;
}

.search_conditions {
  cursor: pointer;
  border-bottom: solid 1px #c0c0c0;
  width: 90%;
  margin-top: 15px;
  margin-left: 10px;
  position: relative;
}

.search_conditions_inner {
  display: none;
  margin-left: 15px;
}

.search_btn_container {
  text-align: center;
}

.search_btn {
  width: 80%;
  border-radius: 7px;
  padding: 3px;
  background: #03AAD2;
  font-size: 15px;
  color: #FFF;
  padding: 5px 0;
  margin: 10px 0;
  border: none;
  cursor: pointer;
}

.reset_btn {
  border: none;
  background-color: none;
  color: #03AAD2;
  cursor: pointer;
}

.subject_edit_btn {
  font-size: 12px;
  color: #007bff;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.profile_subjects {
  display: flex;
}

.profile_subjects_items {
  margin-right: 10px;
  margin-top: 10px;
}
.profile_subjects_btn {
}

.search_label {
  margin-bottom: 0;
  margin-top: 15px;
  color:#696969;
}

.free_word {
  width: 250px;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  overflow: hidden;
  background: #e6e6e6;
  padding: 5px;
}
.free_word:focus {
  background-color: #e6e6e6;
  outline: none;
}
.free_word:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #e6e6e6 inset;
  -webkit-text-fill-color: #000;
}

.search_select {
  width: 100px;
  height: 33px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  overflow: hidden;
  background: #e6e6e6;
  padding: 5px;
}

.arrow2 {
  margin-left: 2px;
}

.arrow2:after {
  content: "";
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #007bff;
  border-right: solid 2px #007bff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.arrow2.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

/* 予約詳細確認画面 */
.detail_container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  padding: 7px;
}

.detail_wrapper {
  text-align: center;
}

.detail_label {
  display: flex;
  justify-content: space-between;
  background-color: #03AAD2;
  color: #fff;
  width: 60vw;
  height: 25px;
  margin-bottom: 0;
  padding-left: 40px;
}

.detail_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  width: 60vw;
  height: 40px;
  padding-left: 40px;

}

.detail_items:nth-child(even) {
  background-color: #eaf8fd;
  border: solid 1px #f5f5f5;
}

.detail_items:nth-child(odd) {
  background-color: #ffffff;
}
